* {
  margin: 0;
}
body {
  font-family: "Oswald", sans-serif;
  background-image: radial-gradient(circle at center, #1d3b78, #aab6c4);
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}
.welcome-screen {
  background-image: linear-gradient(to bottom, #587fb5, #395377);
  background-position: bottom right;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
  word-wrap: break-word;
  overflow-x: hidden;
  border: 3px solid black;
  margin: 0;
  width: 100%;
  text-shadow: 2px 2px 6px rgb(0, 0, 0, 0.4);
}
.content-background {
  background-color: #e6eef6;
  width: 70%;
  margin: 0 auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.3);
  border: 3px solid black;
  border-top: none;
  border-bottom: none;
}

hr {
  display: block;
  unicode-bidi: isolate;
  margin: 0;
  overflow: hidden;
  border-style: solid;
  border-width: 2px;
}
h1 {
  font-size: 55px;
  font-weight: 700;
  margin-bottom: 0px;
  padding: 0px 0px -10px 0px;
  font-style: bold;
}

.paragraph-welcome {
  padding: 0px 0px 0px 0px;
  margin-top: 5px;
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  color: #2c2c2c;
  line-height: 1;
}

.description-welcome {
  font-size: 24px;
  margin-top: 10px;
  font-weight: 400;
}
h2 {
  font-size: 40px;
  font-weight: 700;
}
#search {
  border: 2px solid #576a89;
}
#search:hover {
  border: 2px solid black;
}
.startButton {
  background-color: #a4bfdd;
  color: #fff;
  border: none;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 10px;
}
.search-tool {
  padding: 5%;
}
.startButton:hover {
  background-color: #7faadb;
  cursor: pointer;
}
.about-us {
  padding: 5%;
}
.about-us-content {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  padding: 0% 10%;
}
footer {
  background-color: #102142;
  border-top: 3px solid black;
}
.container {
  position: relative;
  text-align: right;
  padding: 2px 1%;
  color: #cedaf3;
  text-shadow: 2px 2px 3px rgb(0, 0, 0, 0.8);
}

.footer-image {
  position: absolute;
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  height: 70px;
  width: 70px;
}

a {
  color: #cedaf3;
  text-decoration: none;
}
a:hover {
  color: black;
}
.announcement {
  position: relative;
  height: 35px;
  overflow: hidden;
  border-bottom: 3px solid black;
}

.scrolling-text {
  position: absolute;
  left: 100%;
  white-space: nowrap;
  animation: scrolling 20s linear infinite;
  font-size: 20px;
}
@keyframes scrolling {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}

.scrolling-text:nth-child(1) {
  animation-delay: 0s;
}
.scrolling-text:nth-child(2) {
  animation-delay: 2.5s;
}
.scrolling-text:nth-child(3) {
  animation-delay: 5s;
}
.scrolling-text:nth-child(4) {
  animation-delay: 7.5s;
}
.scrolling-text:nth-child(5) {
  animation-delay: 10s;
}
.scrolling-text:nth-child(6) {
  animation-delay: 12.5s;
}
.scrolling-text:nth-child(7) {
  animation-delay: 15s;
}
.scrolling-text:nth-child(8) {
  animation-delay: 17.5s;
}
@media screen and (max-width: 1400px) {
  .content-background {
    width: 99%;
  }
  .welcome-screen {
    width: 100%;
    padding: 4rem 5%;
  }
  .about {
    height: auto;
    margin: 5%;
  }
  .about-us {
    padding: 5%;
  }
  .search-tool {
    padding: 5%;
  }
  .fish-item {
    margin: 10px;
  }
  .about-description {
    flex-direction: column-reverse;
    align-items: center;
  }
  .about-fish-img {
    margin: 0;
    margin-bottom: 20px;
  }
  .about-content {
    text-align: center;
  }
  .about-title {
    align-items: center;
  }
}
@media (min-width: 1400px) {
  .about-content {
    border-left: 3px solid #000000;
    position: absolute;
    left: calc(10% + 400px);
    top: 0;
    bottom: 0;
    width: auto;
  }
  .about-content-description {
    border-bottom: 3px solid black;
    padding: 2%;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 450px) {
  .scrolling-text:nth-child(2),
  .scrolling-text:nth-child(4),
  .scrolling-text:nth-child(6),
  .scrolling-text:nth-child(8) {
    display: none;
  }
  .content-background {
    width: 98%;
  }
}
