* {
  margin: 0;
}
body {
  font-family: "Oswald", sans-serif;
  background-image: radial-gradient(circle at center, #1d3b78, #aab6c4);
  margin: 0;
  padding: 80px 0 0 0;
  text-align: center;
}
header {
  text-shadow: 2px 2px 6px rgb(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-image: linear-gradient(to bottom, #587fb5, #395377);
  height: 80px;
  z-index: 100;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

header img {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

hr {
  display: block;
  unicode-bidi: isolate;
  margin: 0;
  overflow: hidden;
  border-style: solid;
  border-width: 2px;
}
h1 {
  font-size: 55px;
  font-weight: 700;
  margin-bottom: 0px;
  padding: 0px 0px -10px 0px;
  font-style: bold;
}

.paragraph-welcome {
  padding: 0px 0px 0px 0px;
  margin-top: 5px;
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  color: #2c2c2c;
  line-height: 1;
}

.description-welcome {
  font-size: 24px;
  margin-top: 10px;
  font-weight: 400;
}

.content-background {
  background-color: #e6eef6;
  width: 70%;
  margin: 0 auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.3);
  border: 3px solid black;
  border-top: none;
  border-bottom: none;
}
h2 {
  font-size: 40px;
  font-weight: 700;
}
.latin-name {
  font-weight: 300;
  font-size: 30px;
}
#search {
  border: 2px solid #576a89;
}
#search:hover {
  border: 2px solid black;
}
.startButton {
  background-color: #a4bfdd;
  color: #fff;
  border: none;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 10px;
}
.search-tool {
  padding: 5%;
}
.startButton:hover {
  background-color: #7faadb;
  cursor: pointer;
}
.about {
  padding: 5%;
}
.about-description {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.about-description img {
  margin-top: 0;
  margin-left: 20px;
  max-width: 350px;
  width: 100%;
  min-width: 150px;
  border-radius: 20px;
  border: 2px solid black;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}
.about-content {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  max-width: 375px;
  padding: 0;
  text-align: right;
}
footer {
  background-color: #102142;
  border-top: 3px solid black;
}
.container {
  position: relative;
  text-align: right;
  padding: 2px 1%;
  color: #cedaf3;
  text-shadow: 2px 2px 3px rgb(0, 0, 0, 0.8);
}

.footer-image {
  position: absolute;
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  height: 70px;
  width: 70px;
}

a {
  color: #cedaf3;
  text-decoration: none;
}
a:hover {
  color: black;
}
.announcement {
  position: relative;
  height: 35px;
  overflow: hidden;
  border-bottom: 3px solid black;
}

.scrolling-text {
  position: absolute;
  left: 100%;
  white-space: nowrap;
  animation: scrolling 20s linear infinite;
  font-size: 20px;
}

@keyframes scrolling {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}

.scrolling-text:nth-child(1) {
  animation-delay: 0s;
}
.scrolling-text:nth-child(2) {
  animation-delay: 2.5s;
}
.scrolling-text:nth-child(3) {
  animation-delay: 5s;
}
.scrolling-text:nth-child(4) {
  animation-delay: 7.5s;
}
.scrolling-text:nth-child(5) {
  animation-delay: 10s;
}
.scrolling-text:nth-child(6) {
  animation-delay: 12.5s;
}
.scrolling-text:nth-child(7) {
  animation-delay: 15s;
}
.scrolling-text:nth-child(8) {
  animation-delay: 17.5s;
}
@media screen and (max-width: 1100px) {
  .content-background {
    width: 99%;
  }
  .welcome-screen {
    width: 100%;
    padding: 4rem 5%;
  }
  .about-us {
    padding: 5%;
  }
  .search-tool {
    padding: 5%;
  }
  .fish-item {
    margin: 10px;
  }
  .about-description {
    flex-direction: column-reverse;
  }
  .about-description img {
    margin-right: 0;
    margin-top: 20px;
  }
}

@media screen and (max-width: 450px) {
  .scrolling-text:nth-child(2),
  .scrolling-text:nth-child(4),
  .scrolling-text:nth-child(6),
  .scrolling-text:nth-child(8) {
    display: none;
  }
  .content-background {
    width: 98%;
  }
}
