* {
  margin: 0;
}
body {
  font-family: "Oswald", sans-serif;
  background-image: radial-gradient(circle at center, #1d3b78, #aab6c4);
  margin: 0;
  padding: 80px 0 0 0;
  text-align: center;
}
header {
  text-shadow: 2px 2px 6px rgb(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-image: linear-gradient(to bottom, #587fb5, #395377);
  height: 80px;
  z-index: 100;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

header img {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

hr {
  display: block;
  unicode-bidi: isolate;
  margin: 0;
  overflow: hidden;
  border-style: solid;
  border-width: 2px;
}
h1 {
  font-size: 55px;
  font-weight: 700;
  margin-bottom: 0px;
  padding: 0px 0px -10px 0px;
  font-style: bold;
}
.content-background {
  background-color: #e6eef6;
  width: 70%;
  margin: 0 auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.3);
  border: 3px solid black;
  border-top: none;
  border-bottom: none;
}
.about-title {
  width: 225px;
  margin: 0;
  line-height: 30px;
}
h2 {
  font-size: 40px;
  font-weight: 700;
}
.latin-name {
  font-weight: 300;
  font-size: 30px;
  font-style: italic;
}
.english-name {
  text-align: left;
  font-size: 20px;
  font-weight: 300;
}
#search {
  border: 2px solid #576a89;
}
#search:hover {
  border: 2px solid black;
}
.startButton {
  background-color: #a4bfdd;
  color: #fff;
  border: none;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 10px;
}
.search-tool {
  padding: 5%;
}
.startButton:hover {
  background-color: #7faadb;
  cursor: pointer;
}
.about {
  padding: 0;
  position: relative;
  height: 1100px;
}
.about-description {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: left;
  margin-top: 0;
}

.about-fish-img {
  margin-top: 0;
  margin: 5% 10%;
  max-width: 380px;
  justify-content: center;
  background-color: #587fb5;
  border-radius: 20px;
  border: 2px solid black;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.199) -5px 5px 20px;
}
.about-fish-img img {
  width: 100%;
  min-width: 150px;
  border-radius: 20px;
  border: 2px solid black;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}
.about-content {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  padding: 0;
  text-align: left;
  box-sizing: border-box;
}
.about-content-title {
  font-size: 30px;
  margin-bottom: 3px;
}

footer {
  background-color: #102142;
  border-top: 3px solid black;
}
.container {
  position: relative;
  text-align: right;
  padding: 2px 1%;
  color: #cedaf3;
  text-shadow: 2px 2px 3px rgb(0, 0, 0, 0.8);
}

.footer-image {
  position: absolute;
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  height: 70px;
  width: 70px;
}

a {
  color: #cedaf3;
  text-decoration: none;
}
a:hover {
  color: black;
}
.announcement {
  position: relative;
  height: 35px;
  overflow: hidden;
  border-bottom: 3px solid black;
}

.scrolling-text {
  position: absolute;
  left: 100%;
  white-space: nowrap;
  animation: scrolling 20s linear infinite;
  font-size: 20px;
}
abbr {
  text-decoration: none;
}

.fish-record {
  display: flex;
  background-color: #324c80;
  border-radius: 20px;
  border: 2px solid black;
  padding: 0 15px;
  justify-content: space-between;
  align-items: center;
  min-width: 260px;
  max-width: 270px;
  color: #cedaf3;
  margin: 0 auto;
  overflow-y: hidden;
  box-sizing: border-box;
  position: relative;
}

.fish-record-measurement {
  display: block;
  text-align: left;
}

.fish-record-text {
  text-align: right;
}
.fish-location {
  display: flex;
  background-color: #ffffff;
  border-radius: 20px;
  border: 2px solid black;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  color: #000000;
  margin: 0 auto;
  overflow-y: hidden;
  box-sizing: border-box;
  position: relative;
}
.fish-location-title {
  font-size: 16px;
  text-align: left;
  margin-bottom: 2px;
}
ul {
  padding-inline-start: 0px;
  text-align: left;
  margin-block-end: 0;
  margin-block-start: 0;
  list-style: none;
}
ul li::before {
  content: "🡆";
  margin-right: 2px;
  color: #3360bb;
}
.vertical-hr {
  border-left: 2px solid black;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: 160px;
}
.vertical-hr-two {
  border-left: 2px solid black;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: 135px;
}

.measurement-value {
  display: block;
  margin-left: 0;
}
.table-wrapper {
  border-radius: 20px;
  border: 2px solid black;
  overflow: hidden;
  width: 350px;
  margin: 15px auto;
}

table {
  background-color: #324c80;
  padding: 0 10px;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  padding: 10px;
  border: 2px solid black;
  background-color: white;
}
.th-header {
  border: none;
  background-color: #324c80;
}
.tabel-left {
  border-left: none;
}
.tabel-right {
  border-right: none;
}
.tabel-bottom-left {
  border-left: none;
  border-bottom: none;
}
.tabel-bottom-right {
  border-right: none;
  border-bottom: none;
}
.about-content-description {
  margin-bottom: 2%;
}
@keyframes scrolling {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}

.scrolling-text:nth-child(1) {
  animation-delay: 0s;
}
.scrolling-text:nth-child(2) {
  animation-delay: 2.5s;
}
.scrolling-text:nth-child(3) {
  animation-delay: 5s;
}
.scrolling-text:nth-child(4) {
  animation-delay: 7.5s;
}
.scrolling-text:nth-child(5) {
  animation-delay: 10s;
}
.scrolling-text:nth-child(6) {
  animation-delay: 12.5s;
}
.scrolling-text:nth-child(7) {
  animation-delay: 15s;
}
.scrolling-text:nth-child(8) {
  animation-delay: 17.5s;
}
@media screen and (max-width: 1100px) {
  .content-background {
    width: 99%;
  }
  .welcome-screen {
    width: 100%;
    padding: 4rem 5%;
  }
  .about-us {
    padding: 5%;
  }
  .search-tool {
    padding: 5%;
  }
  .fish-item {
    margin: 10px;
  }
  .about-description {
    flex-direction: column-reverse;
    align-items: center;
  }
  .about-fish-img {
    margin-left: 0;
    margin-bottom: 20px;
  }
  .about-content {
    text-align: center;
  }
  .about-title {
    align-items: center;
  }
}
@media (min-width: 768px) {
  .about-content {
    border-left: 2px solid #000000;
    position: absolute;
    left: calc(50% + 10px);
    top: 0;
    bottom: 0;
  }
}
@media screen and (max-width: 450px) {
  .scrolling-text:nth-child(2),
  .scrolling-text:nth-child(4),
  .scrolling-text:nth-child(6),
  .scrolling-text:nth-child(8) {
    display: none;
  }
  .content-background {
    width: 98%;
  }
}
